html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#editor {
  flex: 1 1 auto;
  height: 100%;
}

#toolbar {
  flex: 0 0 auto;

  padding: 5px;
  height: 20px;
  display: block;

  background-color: #ddd;
  border-bottom: 1px solid #888;
}
